<mat-card>
  <mat-icon class="close-icon" (click)="emitClose()">clear</mat-icon>
  <mat-card-title>About</mat-card-title>
  <section>
    <h4>Built with</h4>
    <span class="item-container">
      <a class="item" target="_blank" href="//angular.io">
        <img height="56" width="56" src="assets/images/angular.svg" />
        Angular
      </a>
      <a class="item" target="_blank" href="//firebase.google.com">
        <img height="56" width="56" src="assets/images/firebase.ico" />
        Firebase
      </a>
      <a class="item" target="_blank" href="//www.typescriptlang.org">
        <img height="56" width="56" src="assets/images/typescript.png" />
        TypeScript
      </a>
      <a class="item" target="_blank" href="//sass-lang.com/">
        <img height="56" width="56" src="assets/images/sass.svg" />
        Sass
      </a>
    </span>
  </section>
  <section>
    <h4>Built by</h4>
    <p><a class="nolink" target="_blank" href="//github.com/thomas-crane">thomas-crane</a></p>
  </section>
</mat-card>
