:host {
    font-family: 'Roboto', sans-serif;
    mat-card {
        margin: 8px 0;
    }
}

.dual-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item {
        margin: 8px;
        flex: 1 1 auto;
    }
}

.chart-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.slider-container {
    margin: 8px 12px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 300px;
    p {
        margin-bottom: 0;
    }
}
.slider-labels {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    .spacer {
        flex: 1 1 auto;
    }
}