<wr-top-list [list]="mostBrowsedSubredditList"></wr-top-list>
<mat-card>
  <mat-card-title>Stats</mat-card-title>
  <p matLine>{{activeUsersTotal | commaseparator}} total active users on {{subredditData.length}} subreddits.</p>
  <wr-bar-chart [chartData]="subredditData"></wr-bar-chart>
</mat-card>
<wr-table [subredditData]="subredditData"></wr-table>
<mat-card>
  <mat-card-title>Historic data</mat-card-title>
  <span class="chart-controls">
    <span class="slider-container">
      <p>How far back to load</p>
      <mat-slider invert min="6" max="72" value="12" #lcslider (input)="loadCountChanged(lcslider.value)"></mat-slider>
      <span class="slider-labels">
        6 Hours
        <span class="spacer"></span>
        30 Minutes
      </span>
    </span>
    <span class="slider-container">
        <p>Quality</p>
        <mat-slider min="1" max="5" step="1" value="3" #qslider (input)="qualityChanged(6 - qslider.value)"></mat-slider>
        <span class="slider-labels">
            Low
            <span class="spacer"></span>
            High
          </span>
      </span>
  </span>
  <wr-line-chart [chartData]="lineChartData"></wr-line-chart>
</mat-card>