@import 'app/wr-theme.scss';
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    background-color: #ECEFF1;
}

.thin-text {
    font-weight: 100;
}

.light-text {
    font-weight: 300;
}

.regular-text {
    font-weight: 400;
}
