<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Subreddits</mat-panel-title>
    <mat-panel-description>
      Change the subreddits that appear here.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <span class="table-form">
      <mat-form-field class="table-form-item">
        <input #in matInput placeholder="Add another subreddit to track." required>
      </mat-form-field>
      <span class="table-form-item button-container">
        <button mat-raised-button color="primary" (click)="addSub(in.value); in.value = '';">Add</button>
      </span>
    </span>
    <span class="input-error" *ngFor="let err of inputErrors">
        {{err}}
    </span>
    <mat-table #table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.position}}</mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
      </ng-container>
  
      <!-- Active Column -->
      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef> Active users </mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.active | commaseparator}}</mat-cell>
      </ng-container>
  
      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Subscribers </mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.subscribers | shorthandnumber}}</mat-cell>
      </ng-container>
  
      <!-- Remove Column -->
      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef> Remove </mat-header-cell>
        <mat-cell *matCellDef="let item"><i class="material-icons remove" (click)="removeItem(item.name)">clear</i></mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</mat-expansion-panel>

<!-- <mat-card>
  <mat-card-title>Subreddits</mat-card-title>
  
</mat-card> -->